name: PR Test

on:
  pull_request:
    branches: [ "main" ]

# Report 결과 쓰기 위해 필요
permissions:
  checks: write
  pull-requests: write

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: JDK 17 세팅
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: gradlew 실행 권한 설정
      run: chmod +x gradlew
 
    - name: 테스트 진행
      run: ./gradlew --info test
      
    - name: 테스트 결과 Report
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()  # 테스트가 실패하여도 Report를 보기 위해 `always`로 설정
      with:
         files: 'cloak4j/build/test-results/**/*.xml'
